@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(/public/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: rgb(199, 199, 199);
}

::-webkit-scrollbar-track {
  margin-block: 0.5rem;
}

.main {
  display: flex;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  justify-content: center;
  align-items: center;
}

.notification-page {
  display: flex;
  border-radius: 0.4rem;
  height: 90vh;
  min-width: 40ch;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.heading {
  display: flex;
  min-width: 45ch;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  /* border: solid 1px black; */

}

h5 {
  color: #404040;
  margin-left: 1rem;
}

.badge {
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin-left: 0.5rem;
}

.badge-circle-red {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 27, 27);
  right: 0.3rem;
  top: 0.3rem;
  position: absolute;
}

.badge-none {
  display: none;
}

.text-bg-{background-color: rgb(18, 47, 100);}

.btn {
margin-right: 1rem;
}

.notification-box {
  display: flex;
  overflow-x: scroll;
  flex-direction: column;
  align-items: center;
  width: 50ch;
  /* border: solid 1px black; */
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 45ch;
  /* border: solid 1px black; */
}

ul li {
  background-color: rgb(239, 249, 253);
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-block: 0.5rem;
  font-size: 0.9rem;
  position: relative;
  width: 45ch;
}

.displayphoto {
  position: absolute;
  right: 0.5rem;
}

.chat {
  margin-top: 1rem;
  color: #919191;
}

img {
  width: 2rem;
  margin-right: 1rem;
}

.read {
  background-color: rgb(255, 255, 255);
  border: none;
}

span {
  color: #919191;
  font-size: 0.7rem;
}

@media only screen and (max-width: 960px) {
  .main {
    display: flex;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    align-items: center;
  }
  
  .notification-page {
    display: flex;
    border-radius: 0.4rem;
    height: 100vh;
    min-width: 30ch;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .heading {
    display: flex;
    min-width: 30ch;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    /* border: solid 1px black; */
  
  }
  
  .notification-box {
    display: flex;
    overflow-x: scroll;
    flex-direction: column;
    align-items: center;
    min-width: 30ch;
    /* border: solid 1px black; */
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 30ch;
    /* border: solid 1px black; */
  }

  ul li {
    background-color: rgb(239, 249, 253);
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-block: 0.5rem;
    font-size: 0.9rem;
    position: relative;
    width: 30ch;
    
  }
}